*:before, *, *:after
{
  box-sizing: border-box;
}

:root
{
  --text-primary: #2b3039;
  --text-secondary: #6a2d2d;
  --text-tertiary: #807373;
  --text-regular: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html
{
  height: 100%;
}

body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  color: var(--text-primary);
  font-family: var(--text-regular);
  font-size: 18px;
  line-height: 1.4;
}

h1, h2
{
  font-weight: 400;
}

h1, h2, p, pre
{
  margin-top: 0;
}

.main-menu
{
  display: flex;
  align-items: flex-start;
}
.main-menu .hr
{
  flex: 1;
  margin-top: 50px;
  border-bottom: 1px dashed #333;
}
.menu-item .top
{
  border: 1px dashed #333;
  border-top: none;
  line-height: 50px;
  text-align: center;
}
.menu-item.first .top
{
  padding: 0 24px;
  border-right: none;
}
.menu-item.last .top
{
  padding: 0 24px;
  border-left: none;
}
.menu-item .top:not(.selected)
{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(1) rotate(65)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240,16.7%,97.6%,1)'/><path d='M37.657 10.343l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243m-20.686 0l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243'  stroke-linecap='square' stroke-width='3' stroke='hsla(0,0%,68.6%,1)' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linecap='square' stroke-width='3' stroke='hsla(228,12.5%,84.3%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
.menu-item .top a
{
  position: relative;
  z-index: 10;
  display: inline-block;
  color: var(--text-primary);
}
.menu-item .top a:before
{
  content: '';
  position: absolute;
  right: 0;
  bottom: 12px;
  left: 0;
  height: 1px;
  background-color: #333;
  opacity: 0;
  transition: height .3s ease;
}
.menu-item .top a:hover:before
{
  opacity: 1;
  height: 3px;
}
.menu-item .top a:after
{
  content: '';
  position: absolute;
  top: 12px;
  right: -6px;
  bottom: 9px;
  left: -6px;
  z-index: -1;
  border-radius: 3px;
  background-color: #fff;
}
.menu-item .top.selected a
{
  text-decoration: none;
  pointer-events: none;
}
.menu-item .bot
{
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 12px;
  border-left: 1px dashed #333;
  border-right: 1px dashed #333;
  font-family: var(--text-monospace);
  font-size: 16px;
}
.menu-item .bot .text
{
  line-height: 1;
}
.menu-item .bot > .img
{
  height: 30px;
  margin: 0 6px;
}
.menu-item .bot .node
{
  display: flex;
  height: 54px;
  border: 1px solid #333;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
}
.menu-item .bot .node.one
{
  width: 114px;
}
.menu-item .bot .node .a, .menu-item .bot .node .c
{
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #b7e3ba;
}
.menu-item .bot .node .b
{
  padding: 0 6px;
  line-height: 52px;
}

.content
{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0 24px;
}
.content > .title
{
  margin: 154px 0 0 120px;
}
.content > .title h1
{
  font-size: 60px;
}
.content > .title p
{
  margin-bottom: 0;
  color: var(--text-secondary);
  font-size: 30px;
}

.syntax
{
  width: 300px;
}
.input, .output
{
  width: 430px;
  padding: 0 12px;
}
.syntax .chapter:nth-child(1)
{
  height: 302px;
  padding: 0 12px 0 0;
  border-bottom: 1px dashed var(--text-secondary);
  color: var(--text-secondary);
  line-height: 301px;
  font-size: 14px;
  text-transform: uppercase;
}
.syntax .features
{
  padding-right: 12px;
  border-right: 1px solid var(--text-secondary);
}
.syntax .features .title:not(:first-child)
{
  margin-top: 12px;
}
.syntax .features .feature span:not(.label):nth-child(odd)
{
  color: #7f459b;
}
.syntax .features .feature span:not(.label):nth-child(even)
{
  color: #1c684f;
}
.syntax .features .feature span.label
{
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: rgba(169, 203, 239, 0.48);
  padding: 2px 4px;
  border-radius: 6px;
}

.flex
{
  display: flex;
}

.text-muted
{
  color: var(--text-tertiary);
}

.footer
{
  margin-top: auto;
  padding: 18px 0;
  background-color: rgba(235, 223, 225, 0.24);
  color: var(--text-secondary);
  font-size: 16px;
  text-align: center;
}

.input #source-code
{
  position: relative;
  background-color: #f3edda;
  font-size: 16px;
  outline: none;
  resize: none;
}
.input .domain-source-code
{
  position: relative;
}
.input .domain-source-code:after
{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid #333;
}
.input .timer
{
  position: relative;
  height: 6px;
  margin-right: 15px;
  border: 1px solid #333;
  overflow: hidden;
}
.input .timer .bar
{
  height: 4px;
  background-color: #b7e3ba;
  transform: translate3d(-100%, 0, 0);
}
.input .timer .bar.animate
{
  animation: progress-bar 2.9s linear forwards;
}
@keyframes progress-bar
{
  to { transform: translate3d(0, 0, 0); }
}
.input .title
{
  margin-top: 6px;
  color: var(--text-tertiary);
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
